# Este arquivo inclui todas as libs de produção + libs extras de DEV.
# Para evitar duplicar tudo, podemos incluir requirements.txt dentro dele:
-r requirements.txt
black==25.1.0
mypy==1.15.0
pre-commit==4.1.0

pytest==8.3.4
pytest-cov==6.0.0
